/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import 'base';

/**
 * Helper Variables & Functions
 */

$red: #ed1d24;
$green: #62bb46;
$violet: #cd3879;
$blue: #43bfd6;

$font: 'SCA Baby Script', cursive , helvetica, arial, cursive;

@font-face {
    font-family: 'SCA Baby Script';
    src: url("../fonts/scababyscript-webfont.eot");
    src: url("../fonts/scababyscript-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scababyscript-webfont.woff") format("woff"), url("../fonts/scababyscript-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'SCA Baby Script';
    src: url("../fonts/scababyscript-bold-webfont.eot");
    src: url("../fonts/scababyscript-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scababyscript-bold-webfont.woff") format("woff"), url("../fonts/scababyscript-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}


::selection {
  background: #43bfd6;
  color: #FFF;
  text-shadow: none;
}

h1,h2,h3,h4{
  font-weight: bold;
}

body{
  font: 1.4em/1.4 $font;
  color: #FFF;
  font-weight: bold;
  background: #ff8151 url(../img/pattern.jpg) repeat;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  // background: url(../img/bg.png) center top no-repeat;
  /*.flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }*/
}
input{
  outline: none;
}

a {
  color: $red;
  &:hover, &:focus {
    color: $red;
    text-decoration: none;
  }
}

.btn{
  background-color: transparent;
  font-weight: bold;
  border: none;
  outline: none;
  &:hover{
    color: #FFF;
    transform: scale(1.02);
    opacity: 0.8;
  }
}


/* ==========================================================================
   Layout Styles
   ========================================================================== */

#header-app{
  background: url(../img/header.png) bottom;
  background-repeat: repeat-x;
  height: 87px;
  .logo-app{
    margin-top: 13px;
    float: left;
  }
  .logo-peaudouce{
    float: right;
    margin-top: 30px;
  }
}

.main {
  //  .flexbox & { flex: 1 0 auto; }
  position: relative;
  margin-top: 80px;
}
.cta-box{
  position: relative;
  background-color: #fed430;
  border-radius: 10px;
  margin: 0 20px;
  text-align: center;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  .btn{
    background: url(../img/btn-start.png);
    width: 205px;
    height: 51px;
    color: #FFF;
    font-size: 28px;
    line-height: 51px;
    margin: 40px auto 20px;
    display: block;
  }
}

.help{
  text-align: center;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  a{
    color: #CD3879;
  }
}

.one-col{
  width: 200px;
  float: left;
}

.baby-frame-wrapper{
  position: relative;
  display: inline-block;
  width: 189px;
  height: 160px;
  margin: 10px 3px;
  border-radius:25px;
  &:hover{
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  .image-wrapper{
    position: absolute;
    width: 189px;
    height: 160px;
    z-index: 1;
    .frame{
      position: absolute;
      z-index: 2;
      width: 189px;
      height: 160px;
      background-image: url(../img/frame-img.png);
    }
    .image{
      z-index: 1;
      position: absolute;
      width: 179px;
      border-radius: 7px;
      overflow: hidden;
      height: 115px;
      margin-left: 6px;
      margin-top: 5px;
      background: black;
      img{
        width:100%;
      }
    }
  }
  .description{
    position: absolute;
    z-index: 2;
    width: 179px;
    margin-left: 10px;
    margin-top: 123px;
    h3{
      font-size: 18px;
      width: 100%;
      margin: 0;
      font-weight: bold;
      color: $violet;
    }
    .likes{
      margin: 0;
      padding: 0;
      color: $blue;
      font-weight: bold;
    }
  }
}
.left-col{
  width: 100%;
  #baby-name{
    display: block;
    width: 100%;
    height: 61px;
    border: 8px solid #CD3879;
    border-radius: 19px;
    color: #666;
    font-size: 30px;
    padding: 20px 10px;
  }
  h3{
    color: rgba(0,0,0,0.7)
  }
}
.right-col{
  width: 100%;
  #baby-name{
    width: 375px;
    height: 78px;
    border: none;
    padding: 20px 40px;
    color: #666;
    font-size: 30px;
    background: url(../img/input-name.png);
  }
}
#images-upload-form{
  .submit-images{
    background-image: url(../img/validate.png);
    width: 239px;
    height: 69px;
    margin: 0 auto;
    display: block;
  }
}
.upload-image-wrapper{
  float: left;
  height: 260px;
  .number{
    background-color: #4da637;
    border-radius: 50%;
    border: 3px solid #FFF;
    height: 35px;
    width: 35px;
    line-height: 32px;
    text-align: center;
    font-size: 22px;
    float: left;
    margin-right: 10px;
    margin-top: 6px;
  }
  .img-upload{
    width: 210px;
    margin-left: 52px;
  }
}

.label-image{
  background: url(../img/input-label-image.png) no-repeat;
  width: 222px;
  height: 46px;
  padding: 14px 24px ;
  border: none;
  color: #666;
  margin-bottom: 20px;
}

.cover-item{
  border: 5px solid #FFF;
  width: 115px;
  height: 100px;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    border-color: #ccc;
  }
  &.selected{
    border-color: #42b732;
    transform: scale(1.05);
    &:before{
      font-family: 'FontAwesome';
      font-size: 13px;
      text-align: center;
      line-height: 20px;
      content: '\f00c';
      border-radius: 50%;
      background-color:#42b732;
      border: 3px solid #FFF;
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      right: -10px;
      top: -10px;
    }
  }
  img{
    height: 100%;
    width: 100%;
  }
}
#cover-form{
  text-align: center;
  .validate-cover-btn{
    background-color: #42b732;
    font-size: 23px;
    margin: 20px auto;

  }
}

.photo-page{
  // .half{
  //   width: 50%;
  //   float: left;
  // }
  .photo-container{
    background-color: #FFF;
    padding: 10px;
    width: 100%;
    img{
      width: 520px;
    }
    .votes{
      color: #bd92c1;
      font-size: 20px;
      float: right;
      line-height: 15px;
      text-align: center;
      margin-top: 20px;
      span{
        color: #8f4d96;
        font-size: 27px;
        display: block;
      }
    }
  }
  h1{
    color: #E4F904;
    font-size: 81px;
    margin: 0;
    text-transform: capitalize;
  }
  .participant-info{
    margin-bottom: 30px;
  }
  .participant-picture{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 3px solid #fff;
    float: left;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .participant-name{
    color: #B34F29;
    font-size: 20px;
    float: left;
    margin-left: 10px;
    line-height: 20px;
    span{
      display: block;
      color: #6c5100;
      font-size: 14px;
    }
  }
}

.vote-btn{
  background: transparent url(../img/btn-like.png) !important;
  width: 109px;
  height: 35px;
  text-indent: -99999px;
  margin-right: 10px;
}
.share-btn{
  background: transparent url(../img/btn-share.png) !important;
  width: 126px;
  height: 35px;
  text-indent: -99999px;
  margin-right: 10px;
  margin-top: 10px;
}

.report-btn{
  background: transparent url(../img/btn-report.png) !important;
  width: 126px;
  height: 35px;
  text-indent: -99999px;
  margin-right: 10px;

}
.back-home{
  color: #FFF;
  margin-top: 50px;
  display: block;
  font-size: 26px;
}
.show-video-btn{
  background: transparent url(../img/btn-play-video.png) !important;
  width: 154px;
  height: 35px;
  text-indent: -99999px;
  margin-top: 10px;
  float: left;
}
.load-more{
  background: transparent url(../img/btn-show-more.png) !important;
  width: 166px;
  height: 41px;
  text-indent: -99999px;
  margin: 30px 0 0;
  margin-bottom: 50px;
}

/* ==========================================================================
   Modala
   ========================================================================== */

#signup-modal{
  .modal-content{
    background: #F39213;
    box-shadow: none;
    border: none;
  }
  h2{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4)
  }
  p.info{
    color: #783f0e;
    text-align: center;
    width: 95%;
    margin: 5px auto;
  }
  .form-group {
    margin-bottom: 15px;
    width: 85%;
    margin: 10px auto;
  }
  label{
    margin-bottom: 0px;
    font-size: 14px;
  }
  .form-control{
    border: 1px solid #D27D0E;
    border-radius: 5px;
    height: 30px;
  }
  .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .input-group-addon:first-child{
    border-color: #D27D0E;
    color: #F49813;
  }
  .btn-next{
    background: url(../img/btn-next.png);
    width: 130px;
    height: 40px;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
  }
}

/*================
  CROP Modal
==================*/

#crop-modal{
  .modal-content{
    background: #efefef;
    border-radius: 15px;
    overflow: hidden;
    border: none;
  }
  h2{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #FFB300;
  }

  .img-container {
     background-color: #f7f7f7;
     border: 1px solid #eee;
     box-shadow: inset 0 0 3px #f7f7f7;
     width: 100%;
     overflow: hidden;
   }
   .well{
    color: #ff7000;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #FFF;
   }
   .modal-footer{
    border-top: none;
   }
   .btn-info{
    background: #42b732;
   }
   .btn-default{
    background: #999;
   }
}

.img-preview {
  position: relative;
  width: 194px;
  height: 125px;
  overflow: hidden;
  background: #c5c3c3 url(../img/plus.png) center;
  cursor: pointer;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 5px solid #FFF;

  &:hover{
    background-color: #E6E5E5;
  }
  &.loading::after {
    background:rgba(0,0,0,0.6) url(../img/loading.svg) center center  no-repeat;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
  }
}
.crop-controls{
  background: #fff;
  width: 194px;
  padding: 8px 7px;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #FF8151;
  text-align: center;
  .modif-controls {
    display: none;
  }
  .crop-btn, .delete-btn{
    background: #43BFD6;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 45px;
    color: #FFF;
    line-height: 27px;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
  }
  .add-btn{
    background-image: url(../img/btn-add.png);
    width: 101px;
    height: 28px;
  }
}
.img-input{
  opacity: 0;
  visibility: none;
  width: 1px;
  height: 1px;
}

.img-preview img {

}

.crop-container {
  text-align: center;
}

.bar {
    height: 18px;
    background: green;
}


#video-modal{
  .modal-content{
    box-shadow: none;
    border: none;
    width: 679px;
  }
  .close{
    color: #F4CA5F;
    text-shadow: none;
    opacity: 1;
  }
}

#footer{
  background: url(../img/bg-footer.png) repeat-x;
  height: 90px;
  padding-top: 45px;
  color: #fed430;
  margin-top: 60px;
  a{
    margin: 0 10px;
    color: #fed430;
    &:hover{
      text-decoration: underline;
    }
  }
}

#howto-modal{
  .modal-content{
    background: #ff8151 url(../img/pattern.jpg) repeat;
    border-radius: 15px;
    overflow: hidden;
  }
  .modal-header{
    border-bottom: none;
    padding-bottom: 0;
    .close{
      color: #FFF;
      font-size: 24px;
      opacity: 1;
    }
  }
}

.progress-container {
  position: fixed; top: 0; left: 0;
  z-index: 1000000;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
  .wrapper{
    width: 100%;
    height: 300px;
    margin: 100px auto 0;
    background: #ff8151 url(../img/pattern.jpg) repeat;
    padding: 30px 30px;
    border-radius: 30px;
    color: #FFF;
    border: 2px solid darken(#ff8151,10%);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    img{
      width: 200px;
    }
  }
  .progress {
    margin: auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}
